<!-- End column -->
<div class="col-md-3 col-sm-3 col-xs-12">
    <div class="single-team-member">
      <div class="team-img">
        <a href="#">
          <img src="{% static 'statique/img/team/6.jpg'%}" alt="">
        </a>
        <div class="team-social-icon text-center">
          <ul>
            <li>
              <a href="#">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/NgitukaFrancois">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-content text-center">
        <h4>François NGITUKA</h4>
        <p>Web Developer</p>
      </div>
    </div>
  </div>
  <!-- End column -->
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="single-team-member">
      <div class="team-img">
        <a href="#">
          <img src="{% static 'statique/img/team/5.jpg'%}" alt="">
        </a>
        <div class="team-social-icon text-center">
          <ul>
            <li>
              <a href="#">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-content text-center">
        <h4>Qetsia ISSA</h4>
        <p>Directrice de Marketing</p>
      </div>
    </div>
  </div>
  <!-- End column -->
  <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="single-team-member">
      <div class="team-img">
        <a href="#">
          <img src="{% static 'statique/img/team/4.jpg'%}" alt="">
        </a>
        <div class="team-social-icon text-center">
          <ul>
            <li>
              <a href="#">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="team-content text-center">
        <h4>Jhon Powel</h4>
        <p>Seo Expert</p>
      </div>
    </div>
  </div>
  <!-- End column -->